git+https://git@github.com/fabric8-analytics/fabric8-analytics-worker.git@58d3025#egg=f8a_worker
git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git@3bca34e
git+https://git@github.com/fabric8-analytics/fabric8-analytics-version-comparator.git#egg=f8a_version_comparator

